<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Terranea - Disaster Map</title>
    <link rel="stylesheet" href="./index.css" /> 
    {{ bokeh_css }}
    {{ bokeh_js }}
</head>

<body>
    <div id="container">
        <header>
            <h1>Disaster Map</h1>
        </header>
        <!--<div id="blue-stripe"></div>-->
        <main>
            Hier sollen später die Diagramme zu sehen sein.
            {{ plot_div|indent(8) }}
            {{ plot_script|indent(8) }}
        </main>
        <footer>
            <span id="link-container">
                <a href="http://www.terranea.de/imprint/">Imprint</a>
                |
                <a href="http://www.terranea.de/disclaimer/">Disclaimer</a>
            </span>
        </footer>
    </div>

    <!-- Scripts -->
    <!--<script src="./scripts/index.js"></script>-->
</body>

</html>