* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #fafafa;
    overflow: hidden;
}

#container {
    max-width: 1000px;
    min-width: 500px;
    min-height: 100px;
    margin: 48px auto;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

#container>header {
    width: calc(100% - 70px);
    height: 38px;
    max-height: 38px;
    background-color: white;
    background-image: url(./images/logo.png);
    background-repeat: no-repeat;
    background-position: 35px center;
    padding: 35px 35px 35px 0px;
}

#container>header>h1 {
    text-align: center;
    color: #060058;
    height: 38px;
    line-height: 38px;
}

#blue-stripe {
    width: 100%;
    height: 15px;
    background-color: #060058;
}

#container>main {
    width: calc(100% - 76px);
    min-height: 200px;
    background-color: #ffffff;
    padding: 38px;
}

#container>footer {
    position: relative;
    width: calc(100% - 20px);
    height: 122px;
    background-color: #f9f9f9;
    text-align: right;
    padding: 10px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#link-container {
    position: absolute;
    bottom: 20px;
    right: 48px;
    color: #929292;
}

#link-container>a {
    text-decoration: none;
    color: #929292;
}

#link-container>a:hover {
    text-decoration: underline;
}